body,html{
    margin: 0;
    height: 100%;
}

main {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#container{
    width: 72%;
    height: 58%;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#titulo{
    text-align: center;
}

.containerInput div{
    margin-left: 4px;
}



.containerInput input{
    padding: 8px;
    border-radius: 5px;
    border: none;
    background-color: #E3E3E3;
    font-size: 16px;
    margin-right: 5px;
    
}

#containerInputs{
    display: flex;
    justify-content: center;
    width: 100%;
}

#btn{
    margin-top: 20px;
    width: 30%;
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: #54D803;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

#resultado{
    margin-top: 30px;
    font-size: 40px;
    font-weight: bold;
}

.containerInput{
    display: flex;
    flex-direction: column;
    width: 22%;
}